
body {
    font-size: 0.9rem;
  }
  
h1 {
    font-size: 1.5rem;
  }

  /* login y register */

#body-login {
    background: rgba(54,124,245,1);/* Old Browsers */
    background: -moz-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(54,124,245,1)), color-stop(37%, rgba(98,93,240,1)), color-stop(67%, rgba(34,30,92,1)), color-stop(100%, rgba(8,1,0,1)));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* IE 10+ */
    background: linear-gradient(135deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#367cf5', endColorstr='#080100', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    }

#nav-login {
    color: white;
    font-size: 15px;
}

#welcome-login {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

#footer-login {
    color: slategray;
    font-size: 15px;

}

#nav-login, #footer-login {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
}

#nav-login:hover,  #nav-login:focus {
    background-size: 100% 1px;
}

#footer-login:hover,  #footer-login:focus {
    background-size: 100% 1px;
}

/* END login y register */