
/* login y register */

* {
    margin: 0;
    padding: 0;
}
.body-index {
    /*background: rgba(54,124,245,1);/* Old Browsers */
    /*background: -moz-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* FF3.6+ */
    /*background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(54,124,245,1)), color-stop(37%, rgba(98,93,240,1)), color-stop(67%, rgba(34,30,92,1)), color-stop(100%, rgba(8,1,0,1)));/* Chrome, Safari4+ */
    /*background: -webkit-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* IE 10+ */
    /*background: linear-gradient(135deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%);/* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#367cf5', endColorstr='#080100', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
    /*background-repeat: no-repeat;
    /*background-attachment: fixed;
    /*background-position: center;*/
    background-color: #F8F9FA;
    font-family: Arial Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px #250040;
}

/*#search-index {
    text-shadow: 1px 1px 1px #000;
}*/

.navbar {
    background: rgba(54,124,245,1);/* Old Browsers */
    background: -moz-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(54,124,245,1)), color-stop(37%, rgba(98,93,240,1)), color-stop(67%, rgba(34,30,92,1)), color-stop(100%, rgba(8,1,0,1)));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* IE 10+ */
    background: linear-gradient(135deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#367cf5', endColorstr='#080100', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /*background-size: cover;*/
    opacity: 0.8;
    font-size: 1.5rem;
    /*color: #F8F9FA;*/
}

#header-index {
    border-bottom: 1px solid #67649A;
}

#footer-index {
    border-top: 1px solid #67649A;
}

#dropdown-nav-index {
    background: rgba(54,124,245,1);/* Old Browsers */
    background: -moz-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(54,124,245,1)), color-stop(37%, rgba(98,93,240,1)), color-stop(67%, rgba(34,30,92,1)), color-stop(100%, rgba(8,1,0,1)));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* IE 10+ */
    background: linear-gradient(135deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#367cf5', endColorstr='#080100', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
    /*background-size: cover;*/
    color: #F8F9FA;
}

.form-control {
    border-radius: 20px;
    border: 1px solid #67649A;
    background-color: #F8F9FA;
    font-family: Arial Verdana, Geneva, Tahoma, sans-serif;
    width: 238px;
}

#button-search-index {
    border: 1px solid #67649A;
    border-radius: 100%;
}

/* END login y register */