body {
  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

/* BOTONES CUSTOM PARA MAIN */

.btn,
i,
label {
  font-size: 0.9rem;
}

label {
  font-size: 0.9rem;
}

.btn-blue {
  background-color: #5e72e4;
  color: white;
  font-weight: bold;
}

.btn-blue:hover {
  color: white;
  text-decoration: none;
  background-color: #4e5eb9;
}

.btn-section {
  padding: 0;
}

input[placeholder="Search"] {
  border-radius: 25px;
}

.checkbox-menu li input {
  margin: 0px 5px;
  top: 2px;
  position: relative;
}

textarea {
  resize: none;
}

.bg-footer {
  background-color: #f8fafd;
}

.links-list {
  list-style: none;
}

/* panel lateral y header */

.icons-wrap {
  width: 25px;
}

.fa-user-tag {
  color: #a2a2e5;
}

.fa-user-tag:hover {
  color: #8a8ace;
}

.icon-tasks {
  color: #ffbecc;
}

.icon-tasks:hover {
  color: #d78899;
}

.fa-people {
  color: #49c549;
}

.fa-people:hover {
  color: #39b239;
}

.fa-pages {
  color: #ffdf87;
}

.fa-pages:hover {
  color: #e6c465;
}

.fa-revisions {
  color: #9ac4d5;
}

.fa-revisions:hover {
  color: #6d9aac;
}

​ .navigationLinks:hover {
  color: darkblue;
  text-decoration: none;
}
.navegationLinks {
  color: grey;
}
​ .form-control {
  border-radius: 20px;
}
header {
  height: 200px;
  background: rgb(2, 0, 36);
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(182, 239, 250, 1) 100%,
    rgba(9, 9, 121, 1) 100%
  ); */
  background: linear-gradient(
    135deg,
    rgba(54, 124, 245, 1) 0%,
    rgba(98, 93, 240, 1) 37%,
    rgba(34, 30, 92, 1) 67%,
    rgba(8, 1, 0, 1) 100%
  );
}

/* END panel lateral y header */

/* login y register */

#body-login {
  background: rgba(54, 124, 245, 1); /* Old Browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(54, 124, 245, 1) 0%,
    rgba(98, 93, 240, 1) 37%,
    rgba(34, 30, 92, 1) 67%,
    rgba(8, 1, 0, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(54, 124, 245, 1)),
    color-stop(37%, rgba(98, 93, 240, 1)),
    color-stop(67%, rgba(34, 30, 92, 1)),
    color-stop(100%, rgba(8, 1, 0, 1))
  ); /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(54, 124, 245, 1) 0%,
    rgba(98, 93, 240, 1) 37%,
    rgba(34, 30, 92, 1) 67%,
    rgba(8, 1, 0, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    -45deg,
    rgba(54, 124, 245, 1) 0%,
    rgba(98, 93, 240, 1) 37%,
    rgba(34, 30, 92, 1) 67%,
    rgba(8, 1, 0, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    -45deg,
    rgba(54, 124, 245, 1) 0%,
    rgba(98, 93, 240, 1) 37%,
    rgba(34, 30, 92, 1) 67%,
    rgba(8, 1, 0, 1) 100%
  ); /* IE 10+ */
  background: linear-gradient(
    135deg,
    rgba(54, 124, 245, 1) 0%,
    rgba(98, 93, 240, 1) 37%,
    rgba(34, 30, 92, 1) 67%,
    rgba(8, 1, 0, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#367cf5', endColorstr='#080100', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#nav-login {
  color: white;
  font-size: 15px;
}

#welcome-login {
  color: white;
  font-family: "Comic Sans MS";
  font-size: 40px;
  font-weight: bold;
}

#footer-login {
  color: slategray;
  font-size: 15px;
}

#buttom-login {
  color: white;
  font-size: 15px;
}

#nav-login,
#footer-login {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
}

#nav-login:hover,
#nav-login:focus {
  background-size: 100% 1px;
}

#footer-login:hover,
#footer-login:focus {
  background-size: 100% 1px;
}

#little-blue {
  font-size: 12px;
  color: royalblue;
}

#little-grey {
  font-size: 12px;
  color: slategrey;
}

/* END login y register */

/* TIENDA ONLINE */

.searchStore {
  border-radius: 20px;
  height: 35px;
  background-color: #ffffff;
}

.header-store {
  height: 70px;
}

.store-text-lg {
  font-size: 1.2rem;
}

.btn-language {
  border: none;
  background-color: none;
}

.flag-size {
  height: 15px;
}

.portrait {
  width: 50px;
}

.portrait-big {
  width: 60px;
}

.text-small {
  font-size: 0.7rem;
}

.price-tag {
  font-size: 1.2rem;
}

.content-box {
  height: 100px;
  overflow-y: scroll;
  font-size: 0.8rem;
}

.content-box ul {
  list-style: none;
  padding-left: 15px;
}

.no-underline:hover {
  text-decoration: none;
}

/*TIENDA ONLINE NAVEGACION IZQUIERDA*/

/*.bodyStore {
  margin-bottom: 53px;
}*/

/*.header-store {
  position: absolute;
}*/

.footerStore {
  font-size: 0.8rem;
  height: 70px;
}

.navLeft {
  margin-top: 75px;
  position: fixed;
  /*position: -webkit-sticky;
  position: sticky;
  top: 20px;*/
  /*position: static;*/
  /*position: -webkit-sticky; /* Safari */
  /*position: sticky;
  /*top: 70px;*/
}

/*.footerStore {
  position: relative;
}*/

.headerStore,  
.card, 
.searchStore {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*.dropdown-toggle::after {
  float: right;
  margin-top: 8px;
}*/

.titleNavLeftStore {
  font-size: 1.2rem;
}

.tittleCategoriesNavLeftStore {
  font-size: 1rem;
  /*font-weight: bold;*/
}

.categoriesNavLeftStore {
  font-size: 0.8rem;
}

/*.footerStore {
  bottom: 0;
  left: 0;
  right: 0;
}*/

.Shop1,
.Shop2,
.Shop3,
.Shop4,
.Shop5,
.Shop6,
.Shop7,
.Shop8,
.Shop9,
.Shop10 {
  font-size: 1rem;
  width: 25px;
  text-align: center;
  /*text-shadow: 1px 1px 1px #000;*/
}

.Shop1 {
  color: #333d85;
}

.Shop2 {
  color: #355ef5;
}

.Shop3 {
  color: #1597d2;
}

.Shop4 {
  color: #04b5c2;
}

.Shop5 {
  color: #20cf80;
}

.Shop6 {
  color: #b6df22;
}

.Shop7 {
  color: #ecc413;
}

.Shop8 {
  color: #ff7600;
}

.Shop9 {
  color: #fd5e2f;
}

.Shop10 {
  color: #e83011;
}

/* MEDIA QUERIE PARA MOBILE */

@media (max-width: 767px) {
  .menu-icons {
    font-size: 1.65rem;
  }

  table {
    font-size: 0.7rem;
  }
}