
/* login y register */

* {
    margin: 0;
    padding: 0;
}
.body-index {
    background-color: #f8f9fa;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px #000;
}

.navbar, #footer-index {
    background: rgba(54,124,245,1);/* Old Browsers */
    background: -moz-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(54,124,245,1)), color-stop(37%, rgba(98,93,240,1)), color-stop(67%, rgba(34,30,92,1)), color-stop(100%, rgba(8,1,0,1)));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%); /* IE 10+ */
    background: linear-gradient(135deg, rgba(54,124,245,1) 0%, rgba(98,93,240,1) 37%, rgba(34,30,92,1) 67%, rgba(8,1,0,1) 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#367cf5', endColorstr='#080100', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    font-size: 1.1rem;
}

#header-index {
    border-bottom: 1px solid #601085;
    
}

#footer-index {
    border-top: 1px solid #601085;
    height: 71px;
}

#dropdown-nav-index {
    border-radius: 12px;
    border: 1px solid #601085;
}

.form-control {
    border-radius: 12px;
    border: 1px solid #601085;
    background-color: #f8f9fa;
}

.dashboard-index {
    text-transform: uppercase;
}

#dropdown-icon-index {
    width: 25px;
}

.dropdown-text-index {
    color: #95a4cd;
    font-size: 1.1rem;
}

.dropdown-text-index:hover {
    color: #c0c0c2;
}

.fa-user-tag {
    color: #a2a2e5;
}
  
.fa-user-tag:hover {
    color: #8a8ace;
}
  
.icon-tasks {
    color: #ffbecc;
}
  
.icon-tasks:hover {
    color: #d78899;
}
  
.fa-people {
    color: #49c549;
}
  
.fa-people:hover {
    color: #39b239;
}
  
.fa-pages {
    color: #ffdf87;
}
  
.fa-pages:hover {
    color: #e6c465;
}
  
.fa-revisions {
    color: #9ac4d5;
}
  
.fa-revisions:hover {
    color: #6d9aac;
}

@media (max-width: 767px) {
    #header-index {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    #footer-index {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
}

/* END login y register */